.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db
output_figures/*
output_tables/*
paper/*
*_old.tif
*.png
*.svg
*.rds
*.css
mgf_file_analysis.Rmd
PalsaCO2PrimingPlot.R
chemistry_based_analysis.Rmd
CD_to_MGF.R
unused.Rmd
